// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// todo: add fonts

@import './styles/variables';
@import './styles/button';

Page {
  color: $black;
}

ActionBar {
  background-color: $green;
  color: #ffffff;
}

StackLayout,
GridLayout,
FlexLayout {
  margin: 30;
}
